<%- include('../partial/header', {styleSheet: '/styles/main.css' }) %>
    <h1>edit <%=employee.name%></h1>
    <form method='POST' action="/employees/<%=employee._id%>?_method=PUT">
        <div>
            <label for="pos">update the employee position:</label>
            <input type="text" name="pos" id="pos">
        </div>
        <div>
            <label for="name">update the employee's name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="img">update image of employee</label>
            <input type="text" name="img" id="img">
        </div>
        <div>
            <label for="age">update old is the employee?</label>
            <input type="text" name="age" id="age">
        </div>
        <div>
            <input type="submit" value="Update <%=employee.name%>>">
        </div>
    </form>
<%- include ('../partial/footer') %>