<%- include('../partial/header', {styleSheet: '/styles/main.css' }) %>

<h1><%=employee.name%></h1>
<img src="<%=employee.img%>" alt="employee">
<p> <%=employee.position%> </p>
<p> <%=employee.age%> </p>
<div class="options">
    <button>
        <a href="/employees/<%=employee._id%>/edit">Edit Pokemon</a>
    </button>

    <form method="POST"
        action="/employees/<%= employee._id %>?_method=DELETE">
        <input type="submit" value="remove employee">
    </form>
</div>
<%- include ('../partial/footer') %>